<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/courses.css" />
    <title>Курсы и цены</title>
    <link rel="icon" href="/images/logo.webp" type="image/x-icon" />
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="logo">
          <a href="/"><img src="/images/logo.webp" /></a>
        </div>
        <button class="burger-menu" id="burger-btn">&#9776;</button>
        <nav class="header-menu" id="header-menu">
          <a href="/">
            <h3>Главная</h3>
          </a>
          <a href="/orders">
            <h3>Заказы</h3>
          </a>
          <a href="/courses">
            <h3>Обучение</h3>
          </a>
        </nav>
        <div class="profile">
          <a href="/profile"><img src="/images/user.png" /></a>
          <p>{{user.username}}</p>
        </div>
      </div>
    </header>
    <main>
      <div class="courses-container margin">
        <div class="courses-content">
          <div class="courses-title">
            <h2>Повышение квалификации</h2>
            <h4>Специально разработанные курсы для улучшения навыков и знаний в
              области производства дверей.<br />Каждый курс включает
              теоретические и практические занятия.</h4>
          </div>
          <div class="courses-free">
            <h2>БЕСПЛАТНЫЕ КУРСЫ</h2>
            <div class="courses-grid">
              {{#each courseFree}}
                <div class="courses-grid-item">
                  <img src="/images/course{{id}}.png" />
                  <div class="courses-grid-description">
                    <h4>{{name}}</h4>
                    <p class="courses-p">{{description}}</p>
                    {{#if isSub}}
                      <form
                        action="/record/{{id}}/delete"
                        method="post"
                        class="courses-form"
                      >
                        <div class="course-button">
                          <img src="/images/arrow.svg" />
                        </div>
                        <button type="submit" class="form-button">Отменить
                          запись</button>
                      </form>
                    {{else}}
                      <form
                        action="/record/{{id}}"
                        method="post"
                        class="courses-form"
                      >
                        <div class="course-button">
                          <img src="/images/arrow.svg" />
                        </div>
                        <button type="submit" class="form-button">Записаться на
                          курс</button>
                      </form>
                    {{/if}}
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
          <div class="courses-buy">
            <h2>ПЛАТНЫЕ КУРСЫ</h2>
            <div class="courses-grid">
              {{#each courseBuy}}
                <div class="courses-grid-item">
                  <img src="/images/course5.png" />
                  <div class="courses-grid-description">
                    <h4>{{name}}</h4>
                    <p class="courses-p">{{description}}</p>
                    {{#if isSub}}
                      <form
                        action="/record/{{id}}/delete"
                        method="post"
                        class="courses-form"
                      >
                        <div class="course-button">
                          <img src="/images/arrow.svg" />
                        </div>
                        <button type="submit" class="form-button">Отменить
                          запись</button>
                      </form>
                    {{else}}
                      <form
                        action="/record/{{id}}"
                        method="post"
                        class="courses-form"
                      >
                        <div class="course-button">
                          <img src="/images/arrow.svg" />
                        </div>
                        <button type="submit" class="form-button">Записаться на
                          курс</button>
                      </form>
                    {{/if}}
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="/scripts/burger.js"></script>
</html>